packages/
.idea/
.vs/
*.obj
*.sdf
*.opensdf
*.pdb
*.log
*.tokens
*.vcxproj.user
*.DotSettings.user
*.csproj.user
Debug/
Release/
!src/lib/Debug/
!src/lib/Release/
!src/lib/x64/Debug/
!src/lib/x64/Release/
cmake-build-debug/
cmake-build-release/
/unuxbuild
/out/
/cmake-build-*/
bin/
zig-cache/
.zig-cache/
zig-pkg/
zig-out/
build/
build-*/
*.PVS-Studio.cfg
.DS_Store
.cache/
.zed/
zig-pkg/